<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example22.nluria.missionList">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"

        android:label="2do2gether"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--

        <activity android:name="com.example2.nluria.missionList.Permissions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

-->

        <activity android:name="com.example22.nluria.missionList.MainActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>






                <activity android:name="com.example22.nluria.missionList.newList"
                            android:windowSoftInputMode="stateVisible">
                    <intent-filter>
                        <action android:name="com.example2.nluria.missionList.newList" />

                        <category android:name="android.intent.category.DEFAULT" />
                    </intent-filter>
                </activity>
                <activity android:name="com.example22.nluria.missionList.viewGroups">
                    <intent-filter>
                        <action android:name="com.example2.nluria.missionList.viewGroups" />

                        <category android:name="android.intent.category.DEFAULT" />
                    </intent-filter>
                </activity>




                <activity android:name="com.example22.nluria.missionList.tasks2">
                    <intent-filter>
                        <action android:name="com.example2.nluria.missionList.tasks2" />

                        <category android:name="android.intent.category.DEFAULT" />
                    </intent-filter>
                </activity>

                <activity android:name="com.example22.nluria.missionList.swipe">
                    <intent-filter>
                        <action android:name="com.example2.nluria.missionList.swipe" />

                        <category android:name="android.intent.category.DEFAULT" />
                    </intent-filter>
                </activity>

                <activity android:name="com.example22.nluria.missionList.members">
                    <intent-filter>
                        <action android:name="com.example2.nluria.missionList.members" />

                        <category android:name="android.intent.category.DEFAULT" />
                    </intent-filter>
                </activity>



                <activity android:name="com.example22.nluria.missionList.Info">
                    <intent-filter>
                        <action android:name="com.example2.nluria.missionList.Info" />

                        <category android:name="android.intent.category.DEFAULT" />
                    </intent-filter>
                </activity>

                <activity android:name="com.example22.nluria.missionList.ExtraInfo">
                    <intent-filter>
                        <action android:name="com.example2.nluria.missionList.ExtraInfo" />

                        <category android:name="android.intent.category.DEFAULT" />
                    </intent-filter>
                </activity>

                <activity android:name="com.example22.nluria.missionList.WelcomeScreen">
                    <intent-filter>
                        <action android:name="com.example2.nluria.missionList.WelcomeScreen" />

                        <category android:name="android.intent.category.DEFAULT" />
                    </intent-filter>
                </activity>

                <activity android:name="com.example22.nluria.missionList.ManageGroup">
                    <intent-filter>
                        <action android:name="com.example2.nluria.missionList.ManageGroup" />

                        <category android:name="android.intent.category.DEFAULT" />
                    </intent-filter>
                </activity>

            </application>


        </manifest>